/*Mobile First Approach*/
body {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.alert-info {
    width: 100%;
    border-style: solid;
    background: #0fb784;
}

h1 {
    width: 100%
}

nav {
    width: 100%;
}
.nav-links {
    padding-left: 0;
}

.nav-links >li {
    border-style: solid;
    background: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}


.image {
    height: auto;
    max-width: 100%;
}
.main {
    width: 100%
}



@media screen and (min-width:992px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    .hidden-on-desktop {
        /*visibility: hidden;*/
        display: none;
    }


    h1 {
        font-size: 2.5em;
        width: 50%;

    }

    .nav-links {
        flex-direction: row-reverse;

        /*display: inline-block;*/

    }

    .nav-links > li {
        padding: 10px;
        text-align: center;
        background-color: white;
        justify-content: space-around;
        margin-right: 10px;
        margin-left: 10px;
        border-style: none;
    }


    .image {
        height: 100%;
        max-width: 100%;


    }

    #main {
        flex-direction: column;
        width: 60%;


    }

    .sub-section {

        flex-direction: column;
        width: 40%;

    }


}


@media screen and (min-width:1200px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        height: auto;
        width: auto;
        justify-content: center;
        margin-left: 262px;
        margin-right: 262px;

    }

    .hidden-on-desktop {
        /*visibility: hidden;*/
        display: none;
    }


    h1 {
        font-size: 2.5em;


    }

    .nav-links {
        justify-content: flex-end;
        flex-direction: row;
        margin: auto;
        padding-right: 40px;

        /*display: inline-block;*/

    }

    #main {

        flex-direction: column;
        width: 50%;
        float: left;
        /*      margin-right: 30%;*/


    }

    .sub-section {
        flex-direction: column;
        width: 30%;
        margin: 0;

    }

    .nav-links > li {
        padding: 10px;
        text-align: center;
        background-color: white;
        justify-content: space-around;
        margin-right: 10px;
        margin-left: 10px;
        border-style: none;
    }

}
